@font-face {
    font-family: 'ITC Berkeley Oldstyle Std Medium'; /*a name to be used later*/
    src: url(../resources/fonts/BerkeleyStd-Medium.ttf); /*URL to font*/
}

#logo-landing {
    background-image: url("../resources/images/temporary/homepage-landing-bkg.svg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #B4A8A5;
    background-blend-mode: screen;
}

nav {
    width: 100%;
    float: left;
    overflow: auto;
}

.main-nav {
    margin: 0;
    padding: 8px;
    height: 100%;
    background-color: #155761;
}

.main-nav li {
    display: inline-block;
}

.main-nav #about {
  margin: 0px 458px;
}

.main-nav-button {
    font-family: ITC Berkeley Oldstyle Std Medium;
    font-size: 25pt;
    font-style: none;
    color: #B4A8A5;
    padding: 8px;   
    text-decoration: none;
    width: 33.33%;
    text-align: center;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; /* If you want the text to be left-aligned on small screens */
    }
  }

.main-nav-button:hover {
    background-color: #214044;
}

#logo-landing {
    padding: 15px;
}

main {
    background-color: white;
}

#whatwedo h2 {
    font-family: ITC Berkeley Oldstyle Std Bold Italic;
    font-size: 50pt;
    color: #155761;
    text-align: center;
    background-color: #B4A8A5;
    font-style: italic;
}

#whatwedo h3 {
  font-family: ITC Berkeley Oldstyle Std Bold;
  font-size: 25pt;
  color: #155761;
  text-align: center;
  text-wrap: wrap;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 15%;
  padding: 0 30px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

#whoweare h2 {
    padding-top: 30px;
    font-family: ITC Berkeley Oldstyle Std Bold Italic;
    font-size: 50pt;
    font-style: italic;
    color: #155761;
    text-align: center;
    background-color: #B4A8A5;
}

#whoweare p {
    font-family: ITC Berkeley Oldstyle Std;
    font-weight: lighter;
    font-size: 32pt;
    color: #155761;
    text-align: center;
    padding: 7%;
}

#whatwemake h2 {
    font-family: ITC Berkeley Oldstyle Std Bold Italic;
    font-style: italic;
    font-size: 50pt;
    color: #155761;
    text-align: center;
    background-color: #B4A8A5;
}

#bold {
    font-weight: bold !important;
}

#whatwemake h4 {
  font-family: ITC Berkeley Oldstyle Std Italic;
  font-weight: lighter;
  font-style: italic;
  font-size: 20pt;
  color: #155761;
  text-align: center;
}

#getintouch h2 {
  font-family: ITC Berkeley Oldstyle Std Bold;
  font-style: italic;
  font-size: 50pt;
  color: #155761;
  text-align: center;
  background-color: #B4A8A5;
}

#getintouch h3 {
  font-family: ITC Berkeley Oldstyle Std;
  font-size: 40pt;
  color: #155761;
  text-align: center;
}

#getintouch .reachout {
  font-family: ITC Berkeley Oldstyle Std;
  color: #155761;
  background-color: #B4A8A5;
  font-size: 40pt;
  text-align: center;
  margin: auto;
  display: block;
  border-radius: 70%;
  padding: 2% 3%;

}

.footer {
  background-image: url("../resources/images/temporary/bkg-footer.jpg");
}

.footer-img {
  margin-top: 30px;
}

.foot-logo {
  
  margin: 20px;
}

.footer h5 {
  font-family: ITC Berkeley Oldstyle Std;
  font-size: 13pt;
  font-weight: lighter;
  color: #B4A8A5;
  margin-left: 20px;
}

.footer h6 {
  font-family: ITC Berkeley Oldstyle Std;
  font-size: 10pt;
  font-weight: lighter;
  color: #B4A8A5;
  margin-left: 20px;
}

.ftrow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.ftcolumn {
  flex: 35%;
  max-width: 30%;
  padding-right: 120px;
}