@font-face {
    font-family: 'ITC Berkeley Oldstyle Std Medium'; /*a name to be used later*/
    src: url(../resources/fonts/BerkeleyStd-Medium.ttf); /*URL to font*/
}

#logo-landing {
    background-image: url("../resources/images/temporary/homepage-landing-bkg.svg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #B4A8A5;
    background-blend-mode: screen;
}

nav {
    width: 100%;
    float: left;
    overflow: auto;
}

.main-nav {
    margin: 0;
    padding: 8px;
    height: 100%;
    background-color: #155761;
}

.main-nav li {
    display: inline;
}

.main-nav-button {
    font-family: ITC Berkeley Oldstyle Std Medium;
    font-size: 20pt;
    font-style: none;
    color: #B4A8A5;
    padding: 8px;   
    text-decoration: none;
    width: 33.33%;
    text-align: center;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; /* If you want the text to be left-aligned on small screens */
    }
  }

.main-nav-button:hover {
    background-color: #214044;
}

#logo-landing {
    padding: 15px;
}

main {
    background-color: white;
}

#whatwedo h2 {
    font-family: ITC Berkeley Oldstyle Std Bold Italic;
    font-size: 50pt;
    color: #155761;
    text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
  align-items: stretch;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

#whoweare h2 {
    font-family: ITC Berkeley Oldstyle Std Bold Italic;
    font-size: 50pt;
    color: #155761;
    text-align: center;
}

#whoweare p {
    font-family: ITC Berkeley Oldstyle Std;
    font-weight: lighter;
    font-size: 32pt;
    color: #155761;
    text-align: center;
    padding: 7%;
}

#whatwemake h2 {
    font-family: ITC Berkeley Oldstyle Std Bold Italic;
    font-size: 50pt;
    color: #155761;
    text-align: center;
}

#bold {
    font-weight: bold !important;
}